.header{
    background: rgb(119,114,218);
    background: linear-gradient(90deg, rgba(119,114,218,1) 0%, rgba(201,90,146,1) 50%, rgba(142,67,105,1) 100%);
    height: 150px;
    margin-top: 20px;
    /* position: absolute; */
    /* justify-content: space-between; */
}

.img{
    height: 70px;
    width: 70px;
    margin-top: 90px;
    margin-left: 50px;
}

.header > div{
    margin: 79px 0 0 10px;
    color: rgb(0, 0, 0);
}

.active{
    font-size: 10px;
}

.active > span{
    color: white;
    border-radius: 50%;
    font-size: 14px;
    margin-top: 2px;
}

.social{
    position: absolute;
    right: 80px;
}

.hero{
    border: 1px solid black;
    height: 350px;
}

.hero > div{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.event-des p{
    flex-wrap: wrap;
    height: 50px;
    flex-wrap: wrap;
    margin-right: 50px;
    color: gray;
}

.event-des p >span{
    color: black;
    font-size: bold;
}

.event-des{
    margin-top: 20px ;
}

.event-des{
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

.hero-mid{
    margin-left: 60px;
}

.hero-mid > img{
    height: 500px;
    width: 600px;
}

.hero-mid > p{
    margin-left: 10px;
}

.button-c{
    margin-top: 10px;
    height: 40px;
    background-color: rgb(209, 255, 255);
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}   

.end{
    border: 1px solid red;
    color: red;
    height: 22px;
    width: 80px;
    border-radius:3px;
    font-size: 6px;
    margin-left: 10px;
    margin-top: 10px;
}

.button-b{
    margin-top: 10px;
}

.event-des .p1{
    margin-right: 18px;
}

.event-des .p2{
    margin-right: 98px;
}

.hero-mid .p3{
    margin-left: 20px;
}